@model List<HaveFun.DTOs.FriendDTO>

<div class="tab-pane fade" id="gt4" role="tabpanel" aria-labelledby="gt4-tab">
    <div class="active-member bg-white mb-4">
        <div class="modal-header">
            <h6>好友列表</h6>
            <ul class="nav nav-tabs" id="myTab4" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="Newest-tab" data-bs-toggle="tab" data-bs-target="#Newest" type="button" role="tab" aria-controls="Newest" aria-selected="true">好友</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="BlackList-tab" data-bs-toggle="tab" data-bs-target="#BlackList" type="button" role="tab" aria-controls="BlackList" aria-selected="false">黑名單</button>
                </li>
            </ul>
        </div>
        <div class="modal-body group__bottom--body">
            <div class="tab-content" id="myTabContent4">
               @* 好友列表 *@
                <div class="tab-pane fade show active" id="Newest" role="tabpanel" aria-labelledby="Newest-tab">
                    <ul>
                        @if (Model != null)
                        {
                            @foreach (var friend in Model)
                            {
                                <li>
                                    <div class="top">
                                        <div class="left member--style2">
                                            <div class="member__thumb">
                                                <img src="@friend.ImageUrl" alt="member-img">
                                                <span class="member__activity"></span>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <a href="member-single.html"><h6>@friend.Name</h6></a>
                                            <span>2 years ago</span>
                                            <form method="post" asp-action="BlockFriend" asp-controller="Friend">
                                                <input type="hidden" name="friendId" value="@friend.Id" />
                                                <button type="submit" class="btn btn-danger">封鎖</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li>暫無好友</li>
                        }
                    </ul>
                </div>
                @* 黑名單 *@
                <div class="tab-pane fade" id="BlackList" role="tabpanel" aria-labelledby="BlackList-tab">
                    <ul>
                        @if (Model != null)
                        {
                            @foreach (var friend in Model)
                            {
                                <li>
                                    <div class="top">
                                        <div class="left member--style2">
                                            <div class="member__thumb">
                                                <img src="@friend.ImageUrl" alt="member-img">
                                                <span class="member__activity"></span>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <a href="member-single.html"><h6>@friend.Name</h6></a>
                                            <span>2 years ago</span>
                                            <form method="post" asp-action="UnblockFriend" asp-controller="Friend">
                                                <input type="hidden" name="friendId" value="@friend.Id" />
                                                <button type="submit" class="btn btn-success">解鎖</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li>黑名單中無任何成員</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<template>
    <div>
        <h1>好友列表</h1>
        <ul>
            <li v-for="friend in friends" :key="friend.id">
                <img :src="friend.imageUrl" alt="friend-img" />
                <span>{{ friend.name }}</span>
                <button @@click="blockFriend(friend.id)">封鎖</button>
            </li>
        </ul>

        <h1>黑名單</h1>
        <ul>
            <li v-for="friend in blockedFriends" :key="friend.id">
                <img :src="friend.imageUrl" alt="friend-img" />
                <span>{{ friend.name }}</span>
                <button @@click="unblockFriend(friend.id)">解除封鎖</button>
            </li>
        </ul>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                friends: [],
                blockedFriends: []
            };
        },
        created() {
            this.fetchFriends();
            this.fetchBlockedFriends();
        },
        methods: {
            fetchFriends() {
                axios.get('/api/friends')
                    .then(response => {
                        this.friends = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            fetchBlockedFriends() {
                axios.get('/api/friends/blocked')
                    .then(response => {
                        this.blockedFriends = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            blockFriend(friendId) {
                axios.post('/api/friends/block', { friendId })
                    .then(() => {
                        this.fetchFriends();
                        this.fetchBlockedFriends();
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            unblockFriend(friendId) {
                axios.post('/api/friends/unblock', { friendId })
                    .then(() => {
                        this.fetchFriends();
                        this.fetchBlockedFriends();
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
        }
    };
</script>