@page
@model HaveFun.Controllers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChatRoom[0].MessageText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatRoom[0].CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatRoom[0].Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatRoom[0].Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatRoom[0].IsRead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChatRoom) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
